h1 {
  color: #004777;
  font-family: 'Poppins', sans-serif;
  line-height: 50px;
}

h2 {
  color: #00AFB5;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #575F7D;
  text-align: center;
  background: #f8f8f8;
}

p {
  margin-bottom: 40px;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #8FBFE0;
  font-weight: 600;
  font-size: 15px;
}

.card {
  background: white;
  text-align: center;
  padding: 40px;
  margin: 30px 0px;
  box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
}

.container {
  width: 800px;
  margin: 0 auto;
}

#pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.list-inline > li {
  display: inline-block;
  padding: 20px;
  padding-bottom: 0px;

}

.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0px;

}

.icon-blue {
  font-size: 40px;
  color: #8FBFE0;
}

.icon-blue:hover {
  color: #00AFB5;
}


#follow {
  font-size: 20px;
  font-weight: 900;
  margin: 0px;
}

.btn-blue {
  background-color: #8FBFE0;
  color: white;
  padding: 15px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.btn-blue:hover {
  color: white;
  background-color: #00AFB5;
  transition: 1s;
}

.hobbies {
  width: 200px;
  height: 200px;
  padding: 25px;
}

#second {
  padding: 40px 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 800px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 550px;
  }
}
@media (max-width: 650px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
  }
}

@media (max-width: 490px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

